body
{
    background: #FFFaFF;
    color: #333;
    font-family: Verdana;
    font-size: 1.1em;
    margin: 10px;
    padding: 10px;
}

option, input{
    font-family: Verdana;
    font-size: 1.1em;
}

#divPizzas {
    padding: 10px;
    width: 250px;
    float: left;
    border: solid 2px;
    border-color: #aaa;
}

#divDetalhe {
    padding: 10px;
    width: 250px;
    border: solid 2px;
    border-color: #aaa;
    display: inline-block;
}

#divDetalhe span{
    font-family: Verdana;
    font-size: 0.9em;
    line-height: 40px;
}

.subTitulo {
    padding: 10px;
    font-family: Arial;
    font-size: 1.3em;
}

.bloco {
    float: left;
    width: 300px;
}

.pizzaEstilo {
    border: solid 2px;
    border-color: #666;
    padding: 10px;
    margin: 10px;
    width: 200px;
    cursor: pointer;
}

.pizzaSelecionada {
    background-color: #fff;
}

#divIngredientes {
    border: solid 2px;
    border-color: #888;
    padding: 6px;
    margin: 6px;
}

#divIngredientes div{
    font-family: Verdana;
    font-size: 0.9em;
}

#divDebug {
    background: #FFF;
    color: #555;
    font-family: Consolas;
    font-size: 1.00em;
    margin: 5px;
    padding: 20px;
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
}

#divDebug h3{
    margin: 2px;
    padding: 1px;
    font-family: Consolas;
    font-size: 1.30em;
}

#divImagemAjax 
{
    position: absolute;
    top: 20px;
    left: 170px;
}

.itemDebug 
{
    border: solid 2px;
    border-color: #888;
    display: block;
    width: 500px;
    height: 500px;
    overflow: auto
}

.campo {
    width: 50%;
    color: #555;
    font-size: 1.0em;
    padding: 3px;
    display: inline;
}

.dado {
    width: 50%;
    color: #333;
    font-weight: bold;
    font-size: 0.90em;
    padding: 3px;
    display: inline;
}

.info {
    font-family: Tahoma;
    font-size: 1.00em;
    background-color: #ffffc0;
    padding: 5px;
    margin: 10px;
    float: left;
}
